
# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3552f177172a69b3f017bfe930711054f3d1c86cfaef248c8f642c7a8228fa7fc913f55023c6ee7b7b2896711a5fcb338da37f9196bf00bbaefca6632a174670

test:
  secret_key_base: 9571d69d4a4cdd916d54a24f1b9f1086110d5922fe9205b284fc37b7b0dc5ab3c5275be858ccd65a6b83e553a8131c76a685f5f9c9e310340ab7fced301604bf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
